/* ==========================================================================
#MEDIA
========================================================================== */

/**
* Place any image- and text-like content side-by-side, as per:
* http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
*
* Modified with this as inspiration:
* https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
*/

.o-media {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

  .o-media__img {
    margin-right: $inuit-global-spacing-unit-medium;
  }

  .o-media__body {
    flex: 1;

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }


/* Vertical Alignment
========================================================================== */
/**
* Default: top aligned == flex-start
*/

  .o-media--middle {
    align-items: center;
  }

  .o-media--bottom {
    align-items: flex-end;
  }

/* Size variants
========================================================================== */

/**
* Modify the amount of space between our image and our text. We also have
* reversible options for all available sizes.
*/

.o-media--flush {
  > .o-media__img {
    margin-right: 0;
    margin-left: 0;
  }
}


.o-media--tiny {
  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-tiny;
  }

  &.o-media--reverse {
    > .o-media__body {
      margin-right: $inuit-global-spacing-unit-tiny;
    }
  }
}


.o-media--small {
  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-small;
  }

  &.o-media--reverse {
    > .o-media__body {
      margin-right: $inuit-global-spacing-unit-small;
    }
  }
}


.o-media--large {
  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-large;
  }

  &.o-media--reverse {
    > .o-media__body {
      margin-right: $inuit-global-spacing-unit-large;
    }
  }
}


.o-media--huge {
  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-huge;
  }

  &.o-media--reverse {
    > .o-media__body {
      margin-right: $inuit-global-spacing-unit-huge;
    }
  }
}


/* Reversed media objects
========================================================================== */

.o-media--reverse {
  > .o-media__img {
    order: 1;
    margin-right: 0;
  }

  > .o-media__body {
    margin-right: $inuit-global-spacing-unit-medium;
  }
}
