// Reassign `$inuit-global-spacing-unit` to `$unit`.

$spacing-mini: $inuit-global-spacing-unit-tiny / 2;    // 4
$spacing-tiny: $inuit-global-spacing-unit-tiny;        // 8
$spacing-small: $inuit-global-spacing-unit-small;      // 16
$spacing-medium: $inuit-global-spacing-unit-medium;    // 32
$spacing-large: $inuit-global-spacing-unit-large;      // 64
$spacing-huge: $inuit-global-spacing-unit-huge;        // 128

// Reassign lengthy font-size mixin to `font-size()`.
@mixin font-size($args...) {
  @include inuit-font-size($args...);
}
